/* General Styles
   ========================================================================== */ 
   #score{
       padding-bottom: 20px;
   }


/* ========================================================================== */ 



/* Navigation Styles
========================================================================== */ 


/* ========================================================================== */ 




/* Image Styles
========================================================================== */ 

#crystal-4-image{
    height: 6em;
    width:auto;
    
}
/* ========================================================================== */ 



/* Footer Styles
========================================================================== */ 

/* ========================================================================== */ 




